<div ng-controller="listaCarroCtrl">
    <!-- Contenedor principal derecho -->
    <section class="posts col-md-10">
        <article class="post clearfix">
            <h2 class="post-title">
                <h1>{{message}}</h1>
            </h2>
            <p><span class="post-fecha">26 de Enero</span> creado por <span class="post-author"><a href="">SDP team</a></span>
            </p>

            <p class="post-contenido text-justify">
                Lista de Carros registrados
            </p>
        </article>
        <div class="container">

            <div class="text-center">
                <h1>Nro de Registros: <span class="label label-success">{{ carros.length }}</span></h1>
            </div>

            <!--<select ng-model="selected" ng-options="carro.placa as carro.chofer for carro in carros" ></select>-->

            <div class="row">

                <div class="col-sm-6 col-sm-offset-1">
                    <table class="table table-striped">
                        <tr class="info">
                            <td>Placa</td>
                            <td>Modelo</td>
                            <td>Chofer</td>
                            <td>Estado</td>
                        </tr>
                        <tr ng-repeat="carro in carros" ng-click="selectCarro(carro)">
                            <td>{{ carro.placa }}</td>
                            <td>{{ carro.modelo }}</td>
                            <td>{{ carro.chofer }}</td>
                            <td>{{ carro.estado }}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-4 col-sm-offset-1 text-center">
                    <form name="myForm">
                        <div class="form-group">
                            <input type="text" class="form-control input-lg text-center" placeholder="Placa"
                                   ng-model="newCarro.placa" required>
                            <br>
                            <input type="text" class="form-control input-lg text-center" placeholder="Modelo"
                                   ng-model="newCarro.modelo" required>
                            <br>
                            <input type="text" class="form-control input-lg text-center" placeholder="Chofer"
                                   ng-model="newCarro.chofer" required>
                            <br>
                            <input type="text" class="form-control input-lg text-center" placeholder="Estado"
                                   ng-model="newCarro.estado">
                        </div>

                        <!-- Acciones que podemos realizar en el formulario -->
                        <button type="submit" class="btn btn-success btn-lg" ng-click="registrarCarro()"
                                ng-disabled="myForm.$invalid || selected">Registrar
                        </button>
                        <button type="submit" class="btn btn-warning btn-lg" ng-click="modificarCarro(newCarro)"
                                ng-disabled="!newCarro.placa || !newCarro.modelo || !newCarro.chofer || !newCarro.estado || !selected">
                            Modificar
                        </button>
                        <button type="submit" class="btn btn-danger btn-lg" ng-click="borrarCarro(newCarro)"
                                ng-disabled="!newCarro.placa || !newCarro.modelo || !newCarro.chofer || !newCarro.estado || !selected">
                            Borrar
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </section>
</div>